.main {
  display: flex;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.content {
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

.user-post-list {
  display: flex;
  flex-direction: column;
}
