:host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0.5rem;
  z-index: 10000;
}

@keyframes shadowPulse {
  0% {
    box-shadow: 0 0 1rem 0.01rem var(--p-primary-500);
  }
  33% {
    box-shadow: 0 0 1.5rem 0.2rem var(--p-zinc-50);
  }
  66% {
    box-shadow: 0 0 1.5rem 0.2rem var(--p-blue-500);
  }
  100% {
    box-shadow: 0 0 1rem 0.01rem var(--p-primary-500);
  }
}

.header {
  box-shadow: 0 0 1rem 0.01rem var(--p-primary-500);
  animation: shadowPulse 10s ease-in-out infinite;

  .header-core {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 1.2rem;
    gap: 1rem;

    .header-app {
      height: min-content;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      font-weight: 100;
      gap: 1rem;
      .logo {
        display: flex;
        flex-direction: column;
        align-items: start;
        h2 {
          margin: 0;
          padding: 0;
          display: inline;
          font-weight: 900;
          span {
            color: var(--p-primary-color);
            font-weight: 300;
          }
        }
        .subtitle {
          font-weight: 300;
          font-size: small;
        }
      }
      img {
        height: 2rem;
        width: auto;
      }
    }
  }
  width: 95%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
}
