:host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0.5rem;
  z-index: 10000;
}

.header {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  .header-core {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 1.2rem;
    .header-app {
      height: min-content;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      font-weight: 100;
      gap: 1rem;
      .logo {
        display: flex;
        flex-direction: column;
        align-items: start;
        h1 {
          margin: 0;
          padding: 0;
          display: inline;
          font-weight: 900;
          span {
            color: var(--p-primary-color);
            font-weight: 300;
          }
        }
        .subtitle {
          font-weight: 300;
        }
      }
      img {
        height: 2rem;
        width: auto;
      }
    }
  }
  width: 95%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
}
