.DS_Store
backend/node_modules
backend/dist
backend/.env
frontend/node_modules
frontend/dist
node_modules
backend/config/vividivibes-credentials.json
data
backend/.env
jobs/guests.csv
jobs/vividivibes-credentials.json
jobs/admin-credentials.json
jobs/new-guests.csv