.answer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 1rem;
  height: 100%;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  color: black;
}

.answer-element-icon {
    color: red;
}

.answer-text {
    margin: 0;
    padding: 0;
}