.vibe-post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.25rem;
}

.homepage-title {
    display: flex;
    justify-content: left;
    align-items: center;
    color: var(--p-amber-50);
    width: 100%;
}