.vibe-post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.25rem;
    background-color: var(--p-amber-950);
}

.homepage-title {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--p-amber-950);
    color: var(--p-amber-50);
    width: 100%;
}