<v2d-base-page>
  <div basePageBody>
    <v2d-page-title title="🧭 Esplora"></v2d-page-title>
    <div class="vibe-post-container">
      <v2d-vibe-post [filename]="'vibes/vibe1.jpg'"></v2d-vibe-post>
      <v2d-vibe-post [filename]="'vibes/vibe2.jpg'"></v2d-vibe-post>
      <v2d-vibe-post [filename]="'vibes/vibe1.jpg'"></v2d-vibe-post>
      <v2d-vibe-post [filename]="'vibes/vibe2.jpg'"></v2d-vibe-post>
      <v2d-vibe-post [filename]="'vibes/vibe1.jpg'"></v2d-vibe-post>
      <v2d-vibe-post [filename]="'vibes/vibe2.jpg'"></v2d-vibe-post>
      <v2d-vibe-post [filename]="'vibes/vibe1.jpg'"></v2d-vibe-post>
      <v2d-vibe-post [filename]="'vibes/vibe2.jpg'"></v2d-vibe-post>
      <v2d-vibe-post [filename]="'vibes/vibe1.jpg'"></v2d-vibe-post>
      <v2d-vibe-post [filename]="'vibes/vibe2.jpg'"></v2d-vibe-post>
      <v2d-vibe-post [filename]="'vibes/vibe1.jpg'"></v2d-vibe-post>
      <v2d-vibe-post [filename]="'vibes/vibe2.jpg'"></v2d-vibe-post>
      <v2d-vibe-post [filename]="'vibes/vibe1.jpg'"></v2d-vibe-post>
      <v2d-vibe-post [filename]="'vibes/vibe2.jpg'"></v2d-vibe-post>
    </div>
  </div>
</v2d-base-page>
