<v2d-base-page>
  <div basePageBody>
    <div class="logo">
      <h1>ottonovemebre<span>.it</span></h1>
      <span class="subtitle">Il vostro giorno, insieme a noi.</span>
    </div>
    <div class="rules-box-wrapper">
      <div class="rules-box">
        <h3>🚪 Come accedere a ottonovembre.it</h3>
        <p>
          🫶 Non hai bisogno di credenziali d'accesso per oggi:
          <strong>abbiamo pensato a tutto noi</strong>.
        </p>
        <p>
          📸 Inquadra il <strong>QR code</strong> che trovi di fronte a te e
          segui il link contenuto al suo interno: esso contiene tutte le
          informazioni utili per effettuare un accesso automatico con l'utenza
          creata su misura per te.
        </p>
      </div>
        <video
          class="rules-video"
          id="wipVideo"
          autoplay
          loop
          muted
          playsinline
          preload="auto"
        >
          <source src="assets/wip/wip.mp4" type="video/mp4" />
        </video>
    </div>
  </div>
</v2d-base-page>
