<div class="navbar">
  <div [class]="`navbar-core-${authService.getUser()?.isEnabled ? '3' : '2'}`">
    <p-button
      class="navbar-entry"
      label="Esplora"
      [disabled]="this.dialogService.isDialogOpen"
      severity="contrast"
      (onClick)="navigateToHomePage()"
      icon="pi pi-compass"
      [variant]="
        ['/home', '/'].includes(navbarService.currentRoute) ? undefined : 'text'
      "
    ></p-button>
    @if (authService.getUser()?.isEnabled) {
      <p-button
      class="navbar-entry"
      label="Crea"
      [disabled]="this.dialogService.isDialogOpen"
      severity="contrast"
      (onClick)="navigateToNewVibePage()"
      icon="pi pi-sparkles"
      [variant]="navbarService.currentRoute === '/new-vibe' ? undefined : 'text'"
      ></p-button>
    }
    <p-button
      class="navbar-entry"
      label="Utente"
      [disabled]="this.dialogService.isDialogOpen"
      severity="contrast"
      (onClick)="navigateToMyPersonalPage()"
      icon="pi pi-user"
      [variant]="navbarService.currentRoute === '/me' ? undefined : 'text'"
    ></p-button>
  </div>
</div>
