.navbar {
  .navbar-core {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: var(--p-amber-950);
  padding: 1rem 0;
}
