:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  z-index: 10001;
  .navbar-core {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }
  position: fixed;
  bottom: 1rem;
  width: fit-content;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: color-mix(in srgb, var(--p-primary-900) 70%, transparent);
  padding: 0.5rem 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}

.navbar-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: small !important;

  &.active {
    background-color: var(--p-stone-400);
    font-weight: bold;
    font-size: large !important;
  }

  .navbar-icon {
    width: 2rem;
    height: 2rem;
    margin-bottom: 0.5rem;
  }
}
