<div class="navbar">
  <div class="navbar-core">
    <p-button
      class="navbar-entry"
      size="large"
      label="Esplora"
      [disabled]="this.dialogService.isDialogOpen"
      severity="contrast"
      (onClick)="navigateToHomePage()"
      icon="pi pi-compass"
      [variant]="
        ['/home', '/'].includes(navbarService.currentRoute) ? undefined : 'text'
      "
    ></p-button>
    <p-button
      class="navbar-entry"
      size="large"
      label="Crea"
      [disabled]="this.dialogService.isDialogOpen"
      severity="contrast"
      (onClick)="navigateToNewVibePage()"
      icon="pi pi-sparkles"
      [variant]="navbarService.currentRoute === '/newVibe' ? undefined : 'text'"
    ></p-button>
    <p-button
      class="navbar-entry"
      size="large"
      label="Utente"
      [disabled]="this.dialogService.isDialogOpen"
      severity="contrast"
      (onClick)="navigateToMyPersonalPage()"
      icon="pi pi-user"
      [variant]="navbarService.currentRoute === '/me' ? undefined : 'text'"
    ></p-button>
  </div>
</div>
