.unavailable {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.wip-video {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 70rem;
}

.not-found {
  position: absolute;
  top: 50%;
  text-shadow: var(--p-primary-400) 0 -2rem 5rem;
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 9rem;
  color: var(--p-primary-300);
}
