<p-dialog
  [visible]="dialogService.isDialogOpen"
  [header]="dialogService.header"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  (visibleChange)="dialogService.isDialogOpen = $event"
>
  <span class="p-text-secondary block mb-8">{{ dialogService.body }}</span>
  <ng-template #footer>
    @for(button of dialogService.buttons; track button) {
    <p-button
      [label]="button.label"
      [severity]="button.severity"
      (click)="button.action()"
    />
    }
  </ng-template>
</p-dialog>
