<div class="user-post">
    <div class="user-post-header">
            <div class="user-post-header-head">
                <p-avatar [label]="username[0]" shape="circle" />
                <span>{{ username }}</span>
            </div>
        <!-- <span>{{ timestamp }}</span> -->
    </div>
    <div class="user-post-body">
        <div class="user-post-image">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMvtcKxYRjBuK5Q2QNBi3p8t90bPFWs8VVrw&s" />
        </div>
        <div class="user-post-description">
            <span>{{ description }}</span>
        </div>
        <div class="user-post-timestamp">
            <span>{{ timestamp }}</span>
        </div>
    </div>
</div>