<v2d-base-page>
  <div basePageBody>
    <v2d-page-title
      title="✨ Entra in Vividi"
      [centered]="true"
    ></v2d-page-title>
    <div
      style="
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      "
    >
      <p-floatlabel variant="in">
        <input
          width="100%"
          pInputText
          id="email"
          [fluid]="true"
          [(ngModel)]="email"
          type="email"
          autocomplete="off"
        />
        <label for="email">Inserisci qui la tua email</label>
      </p-floatlabel>

      <p-button
        label="Recupera password"
        icon="pi pi-envelope"
        [fluid]="true"
        (onClick)="resetPassword()"
      ></p-button>

      <p-button
        label="Torna indietro"
        icon="pi pi-arrow-left"
        [fluid]="true"
        severity="secondary"
        (onClick)="navbarService.navigateToSignInPage()"
      ></p-button>
    </div>
  </div>
</v2d-base-page>
