.user-name {
    font-weight: 900;
    color: var(--p-violet-100);
}

.version-label {
    font-size: 0.875rem;
    color: var(--p-gray-500);
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator {
    border-color: var(--p-gray-600);
    margin: 1rem 0;
}

.separator.transparent {
    border-color: transparent;
}

.footer-buttons-external-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}