<p-fileupload
  chooseLabel="Carica"
  chooseIcon="pi pi-upload"
  cancelLabel="Annulla"
  showUploadButton="false"
  showCancelButton="false"
  accept="image/jpeg,image/png,image/gif"
  maxFileSize="1000000"
  (onSelect)="onUpload($event)"
>
  <ng-template #empty>
    <div>Clicca su Carica per aggiungere una foto o una gif.</div>
  </ng-template>
</p-fileupload>

<p-floatlabel variant="on">
  <textarea
    pTextarea
    id="on_label"
    [(ngModel)]="description"
    rows="5"
    cols="30"
    style="resize: none"
    class="h-full w-full"
  ></textarea>
  <label for="on_label">Lascia un messaggio</label>
</p-floatlabel>

<div class="category-wrapper">
  <span>Categoria:</span>
  <div class="category-container">
    <p-chip
      label="🗓️ Giorni precedenti"
      [ngClass]="{ 'active-chip': moment === 'PREVIOUS_DAYS' }"
      (click)="this.onMomentChange('PREVIOUS_DAYS')"
    />
    <p-chip
      label="⛪️ Cerimonia"
      [ngClass]="{ 'active-chip': moment === 'CEREMONY' }"
      (click)="this.onMomentChange('CEREMONY')"
    />
    <p-chip
      label="🍾 Ricevimento"
      [ngClass]="{ 'active-chip': moment === 'LUNCH' }"
      (click)="this.onMomentChange('LUNCH')"
    />
    <p-chip
      label="🗓️ Giorni successivi"
      [ngClass]="{ 'active-chip': moment === 'FOLLOWING_DAYS' }"
      (click)="this.onMomentChange('FOLLOWING_DAYS')"
    />
  </div>
</div>

<p-button [disabled]="!isSubmitEnabled()" (onClick)="submit()">Invia</p-button>
