<p-floatlabel variant="on">
  <textarea
    pTextarea
    id="on_label"
    [(ngModel)]="description"
    rows="5"
    cols="30"
    style="resize: none"
    class="h-full w-full"
  ></textarea>
  <label for="on_label">Lascia un messaggio</label>
</p-floatlabel>

<div class="category-wrapper">
  <span>Categoria:</span>
  <div class="category-container">
    <p-chip
      label="🗓️ Giorni precedenti"
      onclick="()=>setMoment('PREVIOUS_DAYS')"
    />
    <p-chip label="⛪️ Cerimonia" onclick="()=>setMoment('CEREMONY')" />
    <p-chip label="🍾 Ricevimento" onclick="()=>setMoment('LUNCH')" />
    <p-chip
      label="🗓️ Giorni successivi"
      onclick="()=>setMoment('FOLLOWING_DAYS')"
    />
  </div>
</div>

<p-button (onClick)="submit()">Invia</p-button>
