<p-fileupload
class="fileupload-component"
  chooseLabel="Carica"
  cancelLabel="Annulla"
  showUploadButton="false"
  showCancelButton="false"
  accept="image/jpeg,image/png,image/gif"
  invalidFileSizeMessageSummary="File troppo grande."
  invalidFileSizeMessageDetail="Dimensione massima: {{
    maxFileSize / 1024 / 1024
  }} MB."
  [maxFileSize]="maxFileSize"
  (onSelect)="onUpload($event)"
>
  <ng-template #empty>
    <div>Clicca su <b>Carica</b> per aggiungere una foto o una gif.</div>
  </ng-template>
</p-fileupload>

<p-floatlabel variant="on">
  <textarea
    pTextarea
    id="on_label"
    [(ngModel)]="description"
    rows="5"
    cols="30"
    style="resize: none; background-color: transparent"
    class="h-full w-full vibe-caption"
  ></textarea>
  <label for="on_label">Scrivi un messaggio...</label>
</p-floatlabel>

<div class="category-wrapper">
  <span class="form-field-label">Categoria</span>
  <div class="category-container">
    @for (moment of getMoments(); track moment) {
      <div [class]="`moment-container ${selectedMoment === moment ? 'active-moment' : ''}`"
      (click)="this.onMomentChange(moment)"
      >
        <span class="moment-emoji">
          {{ momentEmojis[moment] }}
        </span>
        <span class="moment-label">
          {{ momentLabels[moment] }}
        </span>
      </div>
      <!-- <p-chip
      [label]="getLabel(moment)"
      [ngClass]="{
        'active-chip': selectedMoment === moment,
        'regular-chip': selectedMoment !== moment
      }"
      (click)="this.onMomentChange(moment)"
    /> -->
    }
  </div>
</div>

<v2d-ctas></v2d-ctas>
