/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(30, 30, 30);
}
