<div class="vibe">
  <div class="vibe-header">
    <div id="left">
      @if (this.badge) {
      <span id="vibe-user-icon">{{ this.badgeEmojis[badge] }}</span>
      }
      <div class="user-identification">
        <span id="vibe-user-name">{{ vibeData?.userFullName }}</span>
        <div class="vibe-user-secondary-info">
          @if (!this.isLoading) {
          <span class="vibe-user-role">
            @if (this.shallShowUserRole()) {
            {{ this.badgeLabels[badge] }}&nbsp;&middot; }
            {{
              vibeData?.creationTimestamp
                | date : "dd MMMM yyyy - HH:mm" : undefined : "it-IT"
            }}
          </span>
          } @else {
          <p-skeleton width="30%" styleClass="mb-2" />
          }
        </div>
      </div>
    </div>
    @if (!this.isLoading) {
    <div id="right">
      <v2d-more [menuEntries]="this.menuEntries"></v2d-more>
    </div>
    } @else {
    <v2d-more></v2d-more>
    }
  </div>
  <div class="vibe-body">
    <div class="vibe-picture">
      @if(!this.isLoading) {
      <p-chip
        class="overlap moment-chip"
        [style.--moment-tag-border-radius]="
          this.showFullMomentLabel ? '2rem' : '50%'
        "
        [label]="getLabel(vibeData.moment)"
        (click)="toggleShowFullMomentLabel()"
      ></p-chip>
      } @if (vibeData?._id) {
      <img
        (load)="this.onImageLoad()"
        [style.display]="isLoading ? 'none' : 'flex'"
        [src]="`${this.environment.apiBaseUrl}/vibe/image/` + vibeData?._id"
        [alt]="vibeData?.fileId"
      />
      }
    </div>
    @if (!this.isLoading) {
    <div class="vibe-content">
      <div class="ctas-container">
        <p-chip class="celebrate-button" (click)="setLikedState()">
          <i [class]="`${getLikeButtonLabel()} celebrate-icon`"></i>
          @if (this.getNumberOfLikes() > 0) {
            <span class="celebrate-label">{{
              this.getNumberOfLikes().toString()
            }}</span>
          }
        </p-chip>
      </div>
      <div>
        <span>
          @if (this.isDescriptionFullyVisible ||
          this.vibeData.description.length < 150) {
          {{ this.vibeData.description }} } @else {
          {{ this.vibeData.description.slice(0, 150) + "..." }} }
        </span>
        @if (this.vibeData?.description.length > 150) {
        <v2d-visibility-trigger
          [onClick]="this.toggleDescriptionVisibility"
        ></v2d-visibility-trigger>
        }
      </div>
    </div>
    } @else {
    <div style="display: flex; flex-direction: column; gap: 0.5rem">
      <p-skeleton
        width="100%"
        height="15rem"
        styleClass="mb-2"
        borderRadius="1rem"
      />
      <p-skeleton width="100%" styleClass="mb-2" />
      <p-skeleton width="100%" styleClass="mb-2" />
      <p-skeleton width="30%" styleClass="mb-2" />
    </div>
    }
  </div>
</div>
