:host {
  width: 100%;
}

.vibe {
  width: 100%;
  color: var(--p-amber-50);
  height: min-content;
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0;
  gap: 0.5rem;

  .vibe-header {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    height: min-content;
    #left {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.3rem;
      justify-content: left;
      #vibe-user-name {
        font-size: large;
        font-weight: 700;
        color: var(--p-amber-50);
      }
    }
  }

  .vibe-body {
    .vibe-picture {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem 0.5rem 0 0;
        overflow: hidden;
      }
      .overlap {
        z-index: 1000;
        position: absolute;
      }

      .celebrate-container {
        bottom: 0.5rem;
        right: 0.5rem;
      }

      .celebrate-label {
        padding: 0;
        margin: 0;
        font-size: small;
      }

      .moment-chip {
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        background: color-mix(in srgb, var(--p-primary-500) 20%, transparent);
        font-weight: bold;
        color: var(--p-primary-800);
        top: 0.5rem;
        right: 0.5rem;
        box-shadow: 0 0 2rem color-mix(in srgb, var(--p-primary-900) 50%, transparent);
      }

      .celebrate-button {
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        background: color-mix(in srgb, var(--p-primary-900) 50%, transparent);
      }
    }
  
    .vibe-content {
      margin: 0;
      padding: 0.5rem 1rem;
      color: black;
      border-radius: 0 0 0.5rem 0.5rem;
      background-color: var(--p-zinc-100);
    }
  }

  .vibe-footer {
    display: flex;
    justify-content: right;
    font-size: smaller;
    color: var(--p-zinc-100);
  }
}
