:host {
  width: 100%;
}

.vibe {
  width: 100%;
  color: var(--p-amber-50);
  height: min-content;
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0;
  gap: 0.5rem;

  .vibe-header {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    height: min-content;
    #left {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.6rem;
      justify-content: left;
      margin-left: 0.5rem;
      #vibe-user-name {
        font-size: medium;
        font-weight: 400;
        color: white;
      }
      .vibe-user-secondary-info {
        .vibe-user-role {
          font-size: x-small;
          font-weight: 300;
          color: var(--p-gray-400);
        }
      }
    }
  }

  .vibe-body {
    .vibe-picture {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        overflow: hidden;
      }
      .overlap {
        z-index: 1000;
        position: absolute;
      }

      .celebrate-container {
        bottom: 4rem;
        right: 0.3rem;
      }

      .celebrate-label {
        padding: 0;
        margin: 0;
        font-size: small;
      }

      .moment-chip {
        --moment-tag-border-radius: 50%;
        background-color: color-mix(in srgb, var(--p-primary-700) 25%, transparent);
        min-width: 3rem;
        width: fit-content;
        height: 3rem;
        border-radius: var(--moment-tag-border-radius);
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0.5rem;
        right: 0.3rem;
        transition: width 0.3s ease-in-out;
      }
    }
  
    .vibe-content {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: start;
      gap: 0.5rem;
      margin: 0;
      padding: 0.5rem 1rem;
      font-size: small;
      color: var(--p-dialog);
      border-radius: 0 0 0.5rem 0.5rem;
      // background-color: var(--p-primary-900);
    }
  }

  .vibe-footer {
    display: flex;
    justify-content: right;
    font-size: x-small;
    color: var(--p-zinc-100);
  }
}

.user-identification {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.vibe-user-secondary-info {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  justify-content: flex-start;
}

.ctas-container {
  display: flex;
  flex-direction: column;
  max-width: 3rem;
  gap: 1rem;
  justify-content: right;
  align-items: center;
  padding-right: 0.5rem;
  .celebrate-button {
    background-color: transparent;
    min-width: 2rem;
    max-width: 2rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    justify-content: right;
    align-items: center;
  }
}

.celebrate-icon {
  font-size: large;
}